<!-- <p>list-users works!</p> -->
<!-- <button (click)="LocalUrl()">LocalUrl</button>
<button (click)="InternetUrl()">Internet</button> -->

<!-- <div>
  <form>
    <select (change)="showUsers('this.value')">
      <option *ngFor="let url of urls"  value="url">
        {{ url.name }}
      </option>
    </select>
  </form>
</div> -->


<form [formGroup]="form">
  <select formControlName="url" (change)="showUsers()" >
    <option *ngFor="let url of urls" [ngValue]="url.link">
      {{ url.name }}
    </option>
  </select>
</form>
<p>Url path: {{ form.value['url'] }}</p>
 <!-- <p>Form value: {{ form.value | json }}</p> -->

<!-- 
<form [formGroup]="form">
  <select formControlName="state">
    <option *ngFor="let state of states" [ngValue]="state">
      {{ state.abbrev }}
    </option>
  </select>
</form>

 <p>Form value: {{ form.value | json }}</p> -->
 <!-- {state: {name: 'New York', abbrev: 'NY'} } -->


<button (click)="AddItem()">AddItem</button>
<div *ngIf="list">
  <ol>
    <li *ngFor="let item of list">
      {{ item.id }}
      {{ item.username }}
      {{ item.name }}
      {{ item.email }}
      <button (click)="DeleteItem(item.id)">delete</button>
      <button (click)="EditItem(item.id)">EditItem</button>
    </li> 
  </ol>
</div>
<!-- <p>Привет {{name}}</p>
<input type="text" [(ngModel)]="name"><br><br>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p> -->
